[submodule "bayesicUtilities"]
	path = externals/bayesicUtilities/
	url = https://github.com/tonymugen/bayesicUtilities
[submodule "externals/bayesicUtilities"]
	path = externals/bayesicUtilities
	url = https://github.com/tonymugen/bayesicUtilities
